/myenv
/.vscode
/tfidf_train_label.csv
/tfidf_test_data.csv
/tfidf_train_data.csv
/tfidf_test_label.csv
/tfidf_train_data_fold0.csv
/tfidf_test_data_fold0.csv
/__pycache__
/test_label_fold0.csv
/train_label_fold0.csv
/bag_of_words_test.csv
/bag_of_words_train.csv
/BoW_clickbait_test.csv
/BoW_clickbait_train.csv